.main-content
{
    display: grid;
    background-color: aqua;
    height: 1000px;
    grid-template-columns: 300px 700px;
    width:90%;
}
.left-section
{
     background-color:grey; 
     
    

}
.right-section
{
    background-color: white;
}
.left-content
{
    padding: 1rem;
    /* margin:auto;
    place-self: center;
    border: 5px white solid ;
    border-radius:30%;
    width:60%; */
}
.left-content .profile .imgbx
{
    padding: 1rem;
    margin:auto;
     place-self: center;
    border: 5px white solid ;
    border-radius:30%;
     width:60%; 
}
.name 
{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.02px;
    padding: 0.8rem;
}
.designation
{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description
{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.skills
{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}
.skill-name
{
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar
{
    border: 1px white solid;
    height: 4px;
}
.right-main-content
{
padding-top: 2rem 32px;
padding-bottom: 2rem 32px; 
padding-left: 3rem 48px;
padding-right: 3rem 48px;
}
.right-title
{
    text-transform: uppercase;
    font-size: 102rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

